<div class="home-page">
  <div class="container-fluid">
    <div class="col-md-4 col-md-offset-4">
      <h2> Current Links </h2>
      <h3><a class="nav-link" routerLink="/taxonomy" routerLinkActive="active">Taxonomy</a></h3>
      <h3><a class="nav-link" routerLink="/matching" routerLinkActive="active">Matching</a></h3>
      <h3><a class="nav-link" routerLink="/provider" routerLinkActive="active">Provider</a></h3>
      <h3><a class="nav-link" routerLink="/reporting" routerLinkActive="active">Reporting</a></h3>
      <h3><a class="nav-link" routerLink="/rfp" routerLinkActive="active">RFP</a></h3>
      <h3><a class="nav-link" routerLink="/scoring" routerLinkActive="active">Scoring</a></h3>
      <h3><a class="nav-link" routerLink="/touch-points" routerLinkActive="active">Touch Points</a></h3>
      <h3><a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a></h3>
    </div>
  </div>
</div>

